<!DOCTYPE html>
<html lang=en>
    <head>
        <!-- Style -->
        <style>
        </style>
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- View --> 
        <main>
        </main>

        <!-- Control -->
        <script defer>
            (function(){
                if(document.readyState === 'loading') {
                    document.addEventListener('DOMContentLoaded', () => {

                    });
                } else {
                    
                }
            })();
        </script>
    </body>
</html>

